<div id='prereq_modal' class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2><i class="icon-exclamation-sign"></i> <%=t 'partials.prereq_modal.heading' %></h2>
  </div>
  <div class="modal-body">
    <p><%=t 'partials.prereq_modal.explaination1_html' %></p>
    <p><%=t 'partials.prereq_modal.explaination2_html' %></p>
    <p><%=t 'partials.prereq_modal.explaination3_html' %></p>
    <ul>
      <li>
      <%= link_to "#", :target => "_new", :class => "multiline-link" do %>
        <%=t 'partials.prereq_modal.partner_link1' %><br/>
        <span>http://www.partner-ngo.org.ua/</span>
      <% end %>
      </li>
      <li>
      <%= link_to "#", :target => "_new", :class => "multiline-link" do %>
        <%=t 'partials.prereq_modal.partner_link1' %><br/>
        <span>http://www.patients.org.ua/</span>
      <% end %>
      </li>
      <li>
      <%= link_to "#", :target => "_new", :class => "multiline-link" do %>
        <%=t 'partials.prereq_modal.partner_link1' %><br/>
        <span>http://www.bribe-reporting.com.ua/</span>
      <% end %>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal"><%=t 'partials.prereq_modal.dismiss_button' %></button>
  </div>
</div>
