<div class="jumbotron">
  <h1><%= image_tag "doctor-heading.png" %> <%= @doctor.name %></h1>
  <p><%= link_to @doctor.hospital.name, @doctor.hospital %>, <%= @doctor.hospital.display_location %></p>
</div>

<%= form_tag @hospital, :method => :get, :remote => true, :id => "results_form", :class => "inline-form" do -%>
  <%= hidden_field_tag :update, true %>
  <%= hidden_field_tag :offset, @offset %>
  <%= hidden_field_tag :sorting, @sorting %>
<% end %>

<div class="container-narrow reviews_block">
  <h2><%= @doctor.num_reports %> <%=t 'doctors.show.experiences_heading' %></h2>
<!--
  <h2><%= @doctor.num_delivered %> <%=t 'doctors.show.delivered_heading' %></h2>
-->
  <div class="line"></div>
  <div class="sorting_controls">
    <p><%=t 'controls.sorting_label' %>: <%= select_tag t('controls.sorting_select_label'), report_sorting_options(@sorting), :id => "sorting", :class => "sorting-select" %></p>
  </div>

  <div class="row-fluid">
    <div class='span12'>
      <div id='results_container'>
        <%= render 'report_results' %>
      </div>
      <div id='results_loading' class='row-fluid' style='display: none'>
        <div class='offset3 span6 loading_indicator'></div>
      </div>
      <div class='row-fluid'>
        <div id='more_results_bar' class='offset3 span6 reviews_controls' style="display: none">
          <i class="icon-chevron-down" style='vertical-align: middle; margin-right: 5px;'></i>
          <%= link_to t('messages.more_results'), hospitals_path, :id => "more_results_link" %>
          <i class="icon-chevron-down" style='vertical-align: middle; margin-left: 5px;'></i>
        </div>
      </div>
    </div>
    <%= javascript_tag do %>
      has_more_results(<%= @more_results.to_json %>);
      reveal_results();
    <% end %>
  </div>
</div>

<%= render "partials/endorsement_modal" %>
