<h1>Listing reports</h1>

<table>
  <tr>
    <th>Doctor</th>
    <th>Occurred</th>
    <th>Hospital</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.doctor %></td>
    <td><%= report.occurred %></td>
    <td><%= report.hospital %></td>
    <td><%= report.description %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_report_path %>
